body{
    background-color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}
// navbar
.navbar-brand{
    img{
        max-height: 40px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071C4D;

            &.active{
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login{
    background-color: #071C4D;
    color: #FFFFFF;

    &:hover{
        background-color: #1e3771;
        color: #FFFFFF;
    }
}

// header
header{
    padding : 180px 0 165px;
    margin-top: -70px;
    font-family: 'Playfair Display', serif;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1, p{
        color: #FFFFFF;
    }
    h1{
        font-size: 50px;
        font-weight: bold;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started{
        color: #FFFFFF;
        background-color: #FF9E53;

        &:hover{
            background-color: #FF9e69;
            color: #FFFFFF;
        }
    }
}

// statistics
.section-stats{
    margin-top: -50px;
    .stats-detail{
        padding-top: 15px;
        background: #fff;
        padding-left: 40px;
        h2{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 0;
        }
        p{
            font-size: 20px;
            font-weight: 300;
        }
    }
}
//#051134
.section-popular{
    min-height: 540px;
    background: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading{
        margin-top: 125px;
        color: #FFFFFF;
        
        h2{
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 40px;
        }
        p{
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #dddddd;
            color: #FFFFFF;
            padding: 30px;
            margin-bottom: 20px;
        }
        .travel-country{
            font-size: 18px;
            color: #FFFFFF;
        }
        .travel-location{
            font-size: 26px;
            color: #FFFFFF;
        }
        .travel-button{
            .btn-travel-detail{
                background-color: #FF9E53;
                color: #FFFFFF;
                &:hover{
                    background-color: #FF9e69;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.section-networks{
    background-color: #FFFFFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
    img{
        max-width: 100%;
    }
}

.section-testimonial-heading{
    padding-top: 50px;
    min-height: 506px;
    background: linear-gradient(#fff 0%, #f7f9ff 100%);

    h2{
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: bold;
        
    }
    p{
        font-family: 'Assistant';
        font-weight: 400;
        font-size: 18px;
    }
}

.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content{
            min-height: 380px;
        }
        h3{
            font-size: 20px;
        }
        .testimonial{
            font-weight: 300;
            font-size: 24px;
            color: #6e6e6e;
            min-height: 160px;

        }
        .trip-to{
            font-weight: 600;
            font-size: 22px;
            color: #6e6e6e;

        }
    }
    .btn-need-help{
        background: #f2f2f2;
        font-weight: 300;
        font-size: 20px;
        color: #c3c3c3;        
    }
    .btn-get-started{
        color: #FFFFFF;
        background-color: #FF9E53;
        font-weight: normal;
        font-size: 20px;
        &:hover{
            background-color: #FF9e69;
            color: #FFFFFF;
        }
    }
}

.section-footer{
    a{
        color: #071C4D;
        font-size: 18px;
        font-weight: 400;
    }
    h5{
        font-size: 22px;
        font-weight: 600;
    }
}
.section-details-header{
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}
.section-detail-content{
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb{
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details{
        padding: 30px;
        border-radius: 11px;
        h1{
            font-size: 26px;
            font-weight: 600;
        }
        h2{
            font-size: 20px;
            font-weight: 600;
        }
        p{
            color: #B1B1B1;
            font-size: 18px;
            font-weight: 300;
        }

        .trip-information{
            th{
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;
            }
            td{
                font-weight: 300;
                font-size: 18px;
                color: #B1B1B1;
            }
            .text-blue{
                color: #071C4D;
                font-weight: bold;
            }
            .text-orange{
                color :#FF9E53;
                font-weight : bold;
            }
        }
        .payment-instructions{
            font-weight : 300;
            font-size: 14px;
            color : #B1B1B1;
        }

        .bank{
            .bank-image{
                width : 45px;
                height : 45px;
                float: left;
            }
            .bank-item{
                h3{
                    font-size : 18px;
                    color : #071C4D;
                    margin-bottom: 0;
                }
                p{
                    margin-bottom : 0;
                }
                .description{
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p{
                        font-weight: 300;
                        font-size: 14px;
                        color: #071c4d;

                    }
                }
            }
        }

        h3{
            font-weight: 600;
            font-size: 14px;
            color: #071c4d;
        }
        .disclaimer{
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }
        .gj-datepicker{
            .datepicker{
                border-right: 0;
            }
            .input-group-append{
                .btn{
                    padding-right: 30px;
                }
            }
        }
        .btn-add-now{
            background-color: #071C4D;
            color: #FFFFFF;
            &:hover{
                background-color: #324E8F;
            color: #FFFFFF;
            }
        }
    }

    .card-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        p{
            font-weight: 200;
            font-size: 14px;
        }
    }
    
    .features{
        margin-top: 20px;
        h3{
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0;
        }
        .description{
            margin-left:10px;
            overflow: hidden;
            float: left;
            
        }
        .features-image{
            float: left;
            width: 45px;
            height: 45px;
        }
    }
    
    .gallery{
        .xzoom-container{
            display: block;
            
            .xzoom{
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
    
            .xactive{
                border: 4px solid #1a4c9c;
                box-shadow: none;
            }
        }
    }
    
    .members{
        .member-image{
            width: 40px;
        }
    }

    .join-container{
        margin-top : -16px;
    }
    .btn-join-now{
        background-color: #FF9E53;
        color: white;
        border-radius: 0;
    
        &:hover{
            background-color: #FF9e69;
            color: #FFFFFF;
        }
    }
}

.section-success {
    height: 90vh;
  
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }
  
    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }
  
    .btn-home-page {
        border-radius: 4px;
        background: #071c4d;
        color: #fff;
  
      &:hover {
            color: #fff;
        }
    }
}